.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	background-color: white;
	border-radius: 5px;
	box-shadow: 6px 6px 11px 2px rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 6px 6px 11px 2px rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 6px 6px 11px 2px rgba(0, 0, 0, 0.19);
}
.cardHeader h2 {
	font-size: 1.5rem;
	color: var(--primary-color);
	font-weight: bold;
}

@media screen and (max-width: 425px) {
	.cardHeader h2 {
		font-size: 1.2rem;
	}
}
