.addPreparation {
	display: flex;
	justify-content: center;
	padding-top: 1rem;
}
.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.card {
	text-align: center;
	padding: 1rem;
	width: 60%;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.row,
.rowNested {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.rowNested {
	width: 50%;
}
.iconValid {
	font-size: 10rem !important;
	color: var(--green-color);
}
.iconInValid {
	font-size: 10rem !important;
	color: var(--red-color);
}
.formGroup,
.inpRow {
	width: 100%;
	position: relative;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.inpRow {
	width: 50%;
}
.formGroup select,
.inpRow select {
	width: 100%;
	margin-bottom: 1rem;
	width: 100%;
	padding: 0.5rem 0.25rem;
	border: none;
	border-bottom: 1px solid var(--black-color);
	background-color: transparent;
	font-size: 1rem;
}
.formGroup select:focus,
.inpRow select:focus {
	outline: none;
}
.formGroup label,
.inpRow label {
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: bold;
	text-align: left;
}
.formGroup span,
.inpRow span {
	background-color: var(--red-color);
	color: var(--white-color);
	padding: 0rem 0.25rem;
	font-size: 1rem;
	line-height: 150%;
}
.inpText {
	margin-bottom: 1rem;
	width: 100%;
	padding: 0.5rem 0.25rem;
	border: none;
	border-bottom: 1px solid var(--black-color);
	background-color: transparent;
	font-size: 1rem;
}
.inpText:focus {
	outline: none;
}
.areaContainer {
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid var(--black-color);
	overflow: hidden;
}
.formGroup textarea {
	resize: none;
	color: var(--black-color);
	font: 400 1rem var(--pop-font);
	border: none;
	outline: none;
	padding-top: 10px;
	width: 100%;
	height: 40px;
	background-color: transparent;
}
.btn,
.btnAdd {
	cursor: pointer;
	margin-top: 1.5rem;
	border: none;
	border-radius: 5px;
	background-color: var(--primary-color);
	color: var(--white-color);
	padding: 10px 15px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: var(--pop-font);
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}
.btn:focus,
.btnAdd:focus {
	outline: none;
}
.btn:disabled,
.btnAdd:disabled {
	cursor: not-allowed;
	background-color: var(--grey-color);
	color: var(--white-color);
}

/* Preparation ID */
.containerFinish {
	margin: 1rem 0;
}

.finishBtn {
	cursor: pointer;
	border: none;
	padding: 0.5rem 0.75rem;
	border-radius: 5px;
	font-size: 1.2rem;
	background-color: var(--orange-color);
	color: var(--white-color);
	text-transform: uppercase;
	outline: none;
}

.preparationId {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin-top: 2rem;
}

.preparationId h2 {
	width: 100%;
	text-align: center;
	font-size: 1.75rem;
	color: var(--primary-color);
}

.preparationId img {
	object-fit: cover;
	margin: 1rem 0;
}
.conseil {
	width: 100%;
	border-left: 2px solid var(--grey-color);
	margin: 1rem 0;
}
.conseilPara {
	width: 100%;
	white-space: normal;
	word-wrap: break-word;
	padding: 0 0.5rem;
}
.containerContent {
	width: 100%;
}
.preparationId h3 {
	width: 100%;
	text-align: left;
	font-size: 1.5rem;
	color: var(--primary-color);
}

.stepLabel {
	margin-bottom: 1rem;
}

.containerBtn {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.btnAdd {
	margin: 1rem;
	width: 100%;
	max-width: 400px;
}
.imgContainer {
	margin: 0.5rem;
	width: 100%;
	max-width: 500px;
	overflow: hidden;
	border-radius: 3px;
}
.imgContainer img {
	object-fit: cover;
}
.sectionIng {
	margin-top: 0.5rem;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.spanError {
	position: relative;
	margin-top: 1rem;
	width: 80%;
	text-align: center;
	padding: 0.2rem 0.5rem;
	border-radius: 5px;
	background-color: var(--red-color);
	color: var(--white-color);
	font-size: 1.2rem;
	font-weight: 500;
}
.spanError::after {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0%;
	background-color: rgba(255, 255, 255, 0.2);
	animation: error 3s ease forwards;
}
.sectionStep {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.containerStep {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	padding: 2rem 0;
}
.cardStep {
	position: relative;
	flex-shrink: 0;
	width: 100%;
	max-width: 768px;
	min-width: 280px;
	background-color: white;
	border-radius: 5px;
	box-shadow: 6px 6px 11px 2px rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 6px 6px 11px 2px rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 6px 6px 11px 2px rgba(0, 0, 0, 0.19);
	margin-bottom: 1rem;
	margin-left: 1rem;
}
.cardStep h3 {
	width: 100%;
	color: var(--primary-color);
	text-align: center;
	padding: 1rem 0;
}
.cardStep img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.badgeStep {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: -5px;
	left: -5px;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: var(--green-color);
	color: var(--white-color);
	font-size: 0.6rem;
	font-weight: bold;
}
.bodyCard {
	margin: 0.5rem;
}
.descCard {
	line-height: 125%;
}
.footerCard {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.fCreated {
	font-style: italic;
}
.btnLinks {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.5rem;
	width: 100%;
}
.btnLinks button:first-child {
	margin-right: 1rem;
}
/*Step Add*/
.inpTime {
	width: 100%;
	display: flex;
}
.inpTime input {
	width: 80%;
}
.inpTime select {
	width: 20%;
}

.deletePrepa {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.deletePrepa button {
	margin-top: 1rem;
	cursor: pointer;
	outline: none;
	border: none;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
	background-color: var(--red-color);
	color: var(--white-color);
	border-radius: 3px;
	font-weight: 700;
}

@keyframes error {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}

@media screen and (max-width: 1584px) {
	.cardStep {
		margin-left: 0;
	}
}

@media screen and (max-width: 768px) {
	.btn {
		width: 100%;
	}
	.inpRow {
		width: 100%;
	}
	.rowNested {
		width: 100%;
	}
	.spanError {
		width: 100%;
		font-size: 1rem;
	}
	.inpTime input {
		width: 60%;
	}
	.inpTime select {
		width: 40%;
	}
}

@media screen and (max-width: 425px) {
	.footerCard {
		flex-direction: column;
	}
	.finishBtn {
		font-size: 1rem;
		font-weight: bold;
	}
}
